WPF_TopSecrets/WPF_TopSecrets/Connected Services/ServiceTopSecrets/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_TopSecrets" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSecretData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSecretData" />
  </wsdl:message>
  <wsdl:message name="IService_AddSecretData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSecretDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditSecretData_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSecretData" />
  </wsdl:message>
  <wsdl:message name="IService_EditSecretData_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSecretDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSecretData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSecretData" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteSecretData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSecretDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSecretData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSecretData" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSecretData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSecretDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProfile" />
  </wsdl:message>
  <wsdl:message name="IService_EditProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Logout" message="tns:IService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogoutResponse" message="tns:IService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSecretData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSecretData" message="tns:IService_AddSecretData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSecretDataResponse" message="tns:IService_AddSecretData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSecretData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditSecretData" message="tns:IService_EditSecretData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditSecretDataResponse" message="tns:IService_EditSecretData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSecretData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteSecretData" message="tns:IService_DeleteSecretData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteSecretDataResponse" message="tns:IService_DeleteSecretData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSecretData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSecretData" message="tns:IService_GetAllSecretData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSecretDataResponse" message="tns:IService_GetAllSecretData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ChangePassword" message="tns:IService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ChangePasswordResponse" message="tns:IService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditProfile" message="tns:IService_EditProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditProfileResponse" message="tns:IService_EditProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSecretData">
      <soap:operation soapAction="http://tempuri.org/IService/AddSecretData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSecretData">
      <soap:operation soapAction="http://tempuri.org/IService/EditSecretData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSecretData">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteSecretData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecretData">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSecretData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <soap:operation soapAction="http://tempuri.org/IService/EditProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:5566/TopPasswords" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>