WPF_TopSecrets/WPF_TopSecrets/Connected Services/ServiceTopSecrets/WCF_TopSecrets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_TopSecrets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_TopSecrets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SecretData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecretData" nillable="true" type="tns:SecretData" />
  <xs:complexType name="ArrayOfSecretData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecretData" nillable="true" type="tns:SecretData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecretData" nillable="true" type="tns:ArrayOfSecretData" />
</xs:schema>